<template name="header">
  <div class="header">
    <div class="navbar-fixed">
     <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
         <a class="navbar-brand" href="{{ pathFor 'home' }}">
        <img src="{{ pathFor 'home' }}images/logo.png" class="imagelogo">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li class="headerli">
          <a class="hidden-lg" data-toggle="collapse" data-target=".navbar-collapse" href="{{ pathFor 'transfers.create' }}">
           <span class="glyphicon glyphicon-share-alt iconheader" aria-hidden="true"></span>
          <br> 
          <span>Transferir</span> 
          </a>
           <a  class="hidden-md hidden-sm hidden-xs" href="{{ pathFor 'transfers.create' }}">

          <span class="glyphicon glyphicon-share-alt iconheader" aria-hidden="true"></span>
          <br> 
          <span>Transferir</span> 
          </a>
          
      </li>
       <li class="headerli">
          <a class="hidden-lg" data-toggle="collapse" data-target=".navbar-collapse" href="{{ pathFor 'cards.index' }}">
           <span class="glyphicon glyphicon-credit-card iconheader" aria-hidden="true"></span>
          <br> 
          <span>Tarjetas</span> 
          </a>
           <a  class="hidden-md hidden-sm hidden-xs" href="{{ pathFor 'cards.index' }}">

          <span class="glyphicon glyphicon-credit-card iconheader" aria-hidden="true"></span>
          <br> 
          <span>Tarjetas</span> 
          </a>
      </li>
       <li class="headerli">
           <a class="hidden-lg" data-toggle="collapse" data-target=".navbar-collapse" href="{{ pathFor 'accounts.index' }}">
           <span class="glyphicon glyphicon-lock iconheader" aria-hidden="true"></span>
          <br> 
          <span>Cuentas</span> 
          </a>
           <a  class="hidden-md hidden-sm hidden-xs" href="{{ pathFor 'accounts.index' }}">

          <span class="glyphicon glyphicon-lock iconheader" aria-hidden="true"></span>
          <br> 
          <span>Cuentas</span> 
          </a>
      </li>
        <li class="dropdown headerli">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-user iconheader" aria-hidden="true"></span>
          <br> 
          <span>Mi Cuenta</span></a>
          <ul class="dropdown-menu" style="width: 200px;">
            <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#">Mi Perfil</a></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#">Mis Tarjetas</a></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#">Mis Cuentas</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" data-action="logout" class="logout">Salir</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    </div>
  </div>
</template>
